@import './header.css';
@import './main-section.css';
@import './footer.css';

/* Common selector */
.icon {
    font-size: 1.6rem;
}

section {
    padding-top: 9rem;
    margin: 0 auto;
    width: 80%;
    color: var(--text-color);
}

.title {
    text-transform: uppercase;
    font-size: 3rem;    
    text-align: center;
    line-height: 1.6;
}

.mb-40 {
    margin-bottom: 4rem;
}