/* Common selector */
.icon {
    font-size: 1.6rem;
}

section {
    padding-top: 9rem;
    margin: 0 auto;
    width: 80%;
    color: var(--text-color);
}

.title {
    text-transform: uppercase;
    font-size: 3rem;    
    text-align: center;
    line-height: 1.6;
}

.mb-40 {
    margin-bottom: 4rem;
}

/*  */
/* Header */
/*  */
header {   
    position: relative;
    background: url('../assets/img/header-background.jpg') center / cover no-repeat;
    padding-top: 60rem;
}

header .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem;
}

header .mobile-icon {
    padding: 2rem;
    font-size: 3rem;
}

header nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: var(--white-color);
}

nav .nav-list {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-list .nav-item {
    list-style: none;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-list .nav-item:hover {
    background-color: #ccc;
}

.nav-list .nav-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
}

.nav-list .nav-item i {
    margin-right: 0.8rem;
}

/*  */
/* Main */
/*  */

/* About me */
#about p {
    font-size: 1.6rem;
    line-height: 1.6; 
    text-align: justify;
}

#about figure {
    text-align: center;
}

#about figure img {
    width: 50%;
}

#about figure figcaption {   
    font-size: 1.6rem;
    margin: 1rem;
}

/* My travel */
#travel ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#travel ul li {
    margin: 0.8rem;
    list-style: none;
}

#travel li img {
    height: 15rem;
}

/* Contact */
#contact .contact-block {
    margin: 0 10rem 9rem 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

#contact .picture img {
   width: 40rem;
}

#contact .contact-info {
    font-size: 2rem;
    line-height: 1.6;    
}

#contact .contact-info .icon {
    margin-right: 1rem;
}

/*  */
/* Footer */
/*  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background-color: #ccc;
}

footer:hover {
    background-color: #333;
}

footer:hover .icon a {
    color: var(--white-color);
}

footer .icon {
    font-size: 2.4rem;
}

footer .icon a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 1rem;
}